    <mat-toolbar>
      <a class="example-icon favorite-icon"  [routerLink]="['/home/criar-entrar']" >
        <img style="width: 100px; height: 60px;" src="../../assets/236c4714-0c2a-4b91-ab28-46ec05f06ec0_200x200.png">
      </a>
      <a class="example-icon favorite-icon"  [routerLink]="['/home/sala']" >
        <span>Sala</span>
      </a>
      <span class="example-spacer"></span>
    </mat-toolbar>
    <div class="container-principal">
      <router-outlet></router-outlet>
    </div>
    <footer class="md-padding">
      <div id="btmFooter" flex>
        <p>developed by Yuu Kuuhaku</p>

      </div>
    </footer>
