<div class="container-sala">
  <div class="visor"></div>
  <div class="">
    <div class="container-criar-entrar row p-0 m-0 ">
    <div class="col-sm-6">
      <div class="header-criar">
        <h3> Dados </h3>
      </div>
      <div  style="margin-top: 20px; height: 100%; width: 100%;">

        <animated-digit [digit]="100" [duration]="1000" ></animated-digit>


      </div>
    </div>
    <div class="col-sm-6 w-100 h-100">
      <div class="row header-list p-0 m-0 ">
        <h3> Entrar em uma sala já criada </h3>
        <div class="col-sm-8 header-search" >
          historico
        </div>

      </div>
      <div class="row lista p-0 m-0" >


      </div>
    </div>

  </div>
</div>
